.border{
    width: 80px;
    height: 70px;
    border: 2px solid green;

}

.inputEl {
    height: 70px;
    width: 312px;
    outline: none;
    font-size: 1.2em;
    font-weight: 500;
    background-color: #5d4037;
    font-style: normal; 
    color: white;
    border: none;
    text-align: end;
    box-shadow: blueviolet;
}

